<ul *ngIf="nodes.length" class="list-group navtree">
  <div *ngFor="let node of nodes">
    <li class="list-group-item list-group-item-action"
      [ngClass]="{'active': node[selectedAttr], 'disabled': disableClick}" 
      (click)="click(node)">

      <span class="icon" *ngIf="node[childrenAttr].length && node[collapseAttr]">
        <fa-icon [fixedWidth]="true" [icon]="closedFolderIcon"></fa-icon>
      </span>

      <span class="icon" *ngIf="node[childrenAttr].length && !node[collapseAttr]">
        <fa-icon [fixedWidth]="true" [icon]="openedFolderIcon"></fa-icon>
      </span>

      <span class="icon" *ngIf="!node[childrenAttr].length">
        <fa-icon [fixedWidth]="true" [icon]="leafFolderIcon"></fa-icon>
      </span>

      <span>
        {{node.name}}
      </span>
    </li>
    <app-nav-tree *ngIf="node[childrenAttr].length" class="navsubtree"
      [data]="node[childrenAttr]" 
      [prepareData]="false" 
      [disableClick] = "disableClick"
      [ngbCollapse]="node[collapseAttr]"
      (onChange)="change($event)"
      (onClick)="click($event)">
    </app-nav-tree>
  </div>
</ul>
