<ng-container *ngIf="configs">
  <tr [ngClass]="configs.css.header_class">
    <th *ngIf="configs.multi_select" class="checkbox_column">
      <input type="checkbox" (click)="selectAll($event)" [checked]="this.internal_configs.all_selected">
    </th>
    <th *ngFor="let column of columns" [ngClass]="{'column-hide': column.hidden}" [attr.width]="column.width">
      <div [innerHTML]="column.header_renderer ? column.header_renderer(column.header) : column.header"></div>
    </th>
    <th *ngIf="configs.actions.view_compare" class="action-column" width="{{configs.action_column_width}}">
      <span>{{configs.view_compare_column_text}}</span>
    </th>
    <ng-container *ngIf="configs.compare_select">
      <th class="action-column" class="radio_column" width="{{configs.radio_column_width}}">
        <input type="radio" name="radiogroup" (click)="selectAllRdo1($event)" [checked]="this.internal_configs.all_selected_rdo1">
        <label>{{configs.compare_select_one_text}}</label>
      </th>
      <th class="action-column" class="radio_column" width="{{configs.radio_column_width}}">
        <input type="radio" name="radiogroup" (click)="selectAllRdo2($event)" [checked]="this.internal_configs.all_selected_rdo2">
        <label>{{configs.compare_select_two_text}}</label>
      </th>
    </ng-container>
    <th *ngIf="(configs.show_parent_on_edit && internal_configs.show_parent_col) || internal_configs.show_add_row">
      Parent
    </th>
  </tr>
</ng-container>