th.sortable {
    cursor: pointer;
}
th.sortable:hover span.arrow-up {
    border-bottom: 6px solid #afafaf;
}
th.sortable:hover span.arrow-down {
    border-top: 6px solid #afafaf;
}
th span.arrow-up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 6px solid #ddd;
    position: relative;
    top: -18px;
}
th span.arrow-up.active {
    border-bottom: 6px solid #8a8989 !important;
}
th span.arrow-down {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #ddd;
    position: relative;
    left: 10px;
    top: 17px;
}
th span.arrow-down.active {
    border-top: 6px solid #8a8989 !important;
}
