<div *ngIf="fields" class="container">
    <div *ngIf="!loader.getLoaderStatus()">
    <div class="pb-4" [hidden]= "success">Message : {{message}} ({{success}})</div>
    <form (ngSubmit)="onSubmit(formStage)" [formGroup]="formStage">
        <div class="container">

            <app-dynamic-inputs  
            [formStage]="formStage"
            [data]="fields"
            [showEdit]="this.showEdit"
            [loadbtnShow]="this.loadbtnShow">
            </app-dynamic-inputs>  
     
            <div formArrayName="SubStageFormArray">
    
                <div *ngFor="let item of fields; index as i">

                    <div class="pt-3" *ngIf="item.displayDataType=='Table' || item.displayDataType==''">          
                        <!-- <div *ngIf="isconnected; else disableArray"> -->
                        <div>    
                            <app-addItem-List #addItemchild [data]="item" (changedData)="changedDataHandler($event)" 
                            [editable]="!this.showEdit" 
                            [disable]="this.loadbtnShow"
                            [addItem]="'Add New Channels'"
                            [editItem]="'Edit'"
                            [deleteItem]="'Delete'"
                            [saveItem]="'Save'"
                            [cancelItem]="'Cancel'"
                            [title] = "'Channels'"
                            [maxItem]="item.max">
                            </app-addItem-List>
                        </div>
                        <!-- <ng-template #disableArray>
                            <div class="card mb-5 rounded w-100">
                                <div class="card-header"></div>
                                <div class="container-fluid">
                                    <label>--No default channels configured--</label>
                                </div>
                            </div>
                        </ng-template> -->
                    </div>
                </div>
                <!-- <div *ngIf="this.isconnected"> -->
                <div>
                    <button type="button" *ngIf="this.showEdit" 
                        class="btn btn-primary custom" (click)="this.showEdit=false;submitted=false;">
                    </button>
                    <button type="submit" *ngIf="!this.showEdit" (click)="submitted=true;issave=true;" 
                        class="btn btn-success custom" [disabled]="!formStage.valid">
                        <span *ngIf="this.loadbtnShow" id="spinbutton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  
                        Save
                    </button> 
                    <button type="button" id="cancel" *ngIf="!this.showEdit" 
                        [disabled]="this.loadbtnShow" 
                        (click)="this.showEdit=true;this.submitted=true;this.issave=false;onCancel()" 
                        class="btn btn-mdprimary custom">Cancel
                    </button>
                </div>
            </div>
        </div>
    </form>
    </div>
</div>
