<div *ngIf="fields" class="container">
    <div class="card mb-5 rounded w-100" *ngIf="!loader.getLoaderStatus()">
        <div class="pb-4" [hidden]= "success">Message : {{message}} ({{success}})</div>
        <form (ngSubmit)="onSubmit(formStage)" [formGroup]="formStage">
            <!-- Title and buttons -->
            <div class="card-body">
                <div class="row">
                  <div class="col-9 t-10"><h3>{{frmConfig.title}}</h3></div>
                </div>
                <div class="row">
                    <button type="button" *ngIf="this.editable"class="btn btn-primary custom r-5" (click)="onEdit()" [disabled]="!formStage.valid || !this.editable">Edit</button>
                    <button type="submit" *ngIf="!this.editable" (click)="onSave()" class="btn btn-success custom r-96" [disabled]="!formStage.valid || this.submitted ">
                        <span *ngIf="this.loadbtnShow" id="spinbutton" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>  
                        Save
                    </button> 
                    <button type="button" id="cancel" *ngIf="!this.editable" [disabled]="this.loadbtnShow" (click)="onCancel()" class="btn btn-mdprimary custom r-5">Cancel</button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col ">
                        <div formArrayName="SubStageFormArray">
                            <!-- loop thro items -->
                            <div *ngFor="let item of fields; index as i">
                                <div *ngIf='item.visible'>
                                    <!-- DropDownList inputs -->
                                    <div *ngIf="item.displayDataType=='DropDownList'">
                                        <div class="mb-3 b-10">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <select *ngIf= "!this.editable && !this.loadbtnShow" class="form-control" id="txtCustom{{i}}" [formControlName]="i" (change)="OnDropdownChange($event)">
                                                    <option *ngFor="let opt of item.availableValues" [value]="opt.value">{{opt.name}}</option>
                                                </select>
                                                <select *ngIf= "this.editable || this.loadbtnShow" class="form-control" id="txt{{i}}" value="{{item.value}}" [disabled]="true">
                                                    <option *ngFor="let opt of item.availableValues" [value]="opt.value">{{opt.name}}</option>
                                                </select>
                                                <div class="input-group-append">
                                                    <span *ngIf="item.postfixUnit != null && item.postfixUnit !=''" class="input-group-text text-primary">{{item.postfixUnit}}</span>
                                                </div>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>    
                                        </div>    
                                    </div>

                                    <!-- NumericBox  inputs -->
                                    <div *ngIf="item.displayDataType=='NumericBox'">
                                        <div class="mb-3 b-10">                           
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <input type="number" class="form-control" id="txtCustom{{i}}" [readonly]= "this.editable || this.loadbtnShow" [formControlName]="i" />
                                                <div class="input-group-append">
                                                    <span *ngIf="item.postfixUnit != null && item.postfixUnit !=''" class="input-group-text text-primary">{{item.postfixUnit}}</span>
                                                </div>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>                           
                                        </div>        
                                    </div>

                                    <!-- TextBox inputs -->
                                    <div *ngIf="item.displayDataType=='TextBox'">
                                        <div class="mb-3 b-10">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <input type="text" class="form-control" id="txtCustom{{i}}" [readonly]= "this.editable || this.loadbtnShow" [formControlName]="i" />
                                                <div class="input-group-append">
                                                    <span *ngIf="item.postfixUnit != null && item.postfixUnit !=''" class="input-group-text text-primary">{{item.postfixUnit}}</span>
                                                </div>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>                           
                                        </div>
                                    </div>

                                    <!-- DateBox inputs -->
                                    <div *ngIf="item.displayDataType=='DateBox'">
                                        <div class="mb-3 b-10">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <input class="form-control" placeholder="dd/mm/yyyy" name="dp{{i}}" [readonly]= "this.editable || this.loadbtnShow" 
                                                [formControlName]="i" ngbDatepicker #d="ngbDatepicker">
                                                <div class="input-group-append">
                                                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                                                        <fa-icon [icon]="['far', 'calendar']"></fa-icon>
                                                    </button>
                                                    <span *ngIf="item.postfixUnit != null && item.postfixUnit !=''" class="input-group-text text-primary">{{item.postfixUnit}}</span>
                                                </div>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>
                                        </div>      
                                    </div>

                                    <!-- TimeBox inputs -->
                                    <div *ngIf="item.displayDataType=='TimeBox'">
                                        <div class="mb-3 b-10">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <app-timepicker [formControlName]="i" name="i" [postfixUnit]="item.postfixUnit" [readonlyInputs]="this.editable || this.loadbtnShow"></app-timepicker>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>
                                        </div>      
                                    </div>

                                    <!-- DateTimeBox inputs -->
                                    <div *ngIf="item.displayDataType=='DateTimeBox'">
                                        <div class="mb-3 b-10">
                                            <div class="input-group input-group-sm">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text justify-content-end">{{item.name}}</span>
                                                    <span *ngIf="item.prefixUnit != null && item.prefixUnit !=''" class="input-group-text justify-content-end input-prefix-text text-primary">{{item.prefixUnit}}</span>
                                                </div>
                                                <app-datetimepicker [formControlName]="i" name="i" [postfix]="item.postfixUnit" [readonly]= "this.editable || this.loadbtnShow" [className]="'datetime-group'"></app-datetimepicker>
                                            </div>
                                            <span *ngIf="!IsValidItem(i)" class="inputError">{{lastError}}</span>
                                        </div>      
                                    </div>

                                    <!-- Table / Grid display -->
                                    <div *ngIf="(item.displayDataType=='Table') || (item.dataType=='Array')">          
                                        <!-- <div *ngIf="isconnected; else disableArray"> -->
                                         <div>
                                            <app-addItem-List #addItemchild [data]="item" (dataChangeNotify)="changedDataHandler($event)" 
                                            [editable]="!this.editable" 
                                            [disable]="this.loadbtnShow"
                                            [addItem]="'Add New Channels'"
                                            [editItem]="'Edit'"
                                            [deleteItem]="'Delete'"
                                            [saveItem]="'Save'"
                                            [cancelItem]="'Cancel'"
                                            [title] = "'Channels'"
                                            [maxItem]="item.max"
                                            [message]="this.addItemMessage">
                                            </app-addItem-List>
                                        </div>
                                        <!-- <ng-template #disableArray>
                                            <div class="card mb-5 rounded w-100">
                                                <div class="card-header"></div>
                                                <div class="container-fluid">
                                                    <label>--No default channels configured--</label>
                                                </div>
                                            </div>
                                        </ng-template> -->
                                    </div>
                                    <!-- other controls after table -->
                                </div>
                                <!-- handle invisible items here -->
                            </div>
                            <!-- loop ends above -->
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>