tr{
    font-size: 1.2em;
}
tr.selected {
    background-color: #e2e7eb;
}
tr span.parent_container {
    padding-left: 45px;
}
tr.child {
    background: #fff;
}
tr.child td:nth-child(2) {
    padding: 0.875rem 1.25rem 0.875rem 2.5rem !important;
}
tr.parent {
    background: #fafbff;
}
tr.subgrid-row {
    background: #fcfcfc;
}
tr td {
    border: 1px solid #cdd5dc;
    vertical-align: middle;
    position: relative;
    padding: 0.5rem 0.5rem;
    box-sizing: border-box;
}
tr td.checkbox_column {
    text-align: center;
}
tr td.compare_column {
    text-align: center;
}
tr td.radio_column{
    text-align: center;
}
tr td.expand-column {
    padding: 0.3rem;
}
tr td.column-hide {
    display: none;
}
tr td.clear-left-border {
    border-left: 0 !important;
}
tr td.clear-right-border {
    border-right: 0 !important;
}
.radio-btn {
    vertical-align: middle;
}
.img-container {
    width:50px;
    height: 25px;
}
